<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
	<title>Visitor</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
  <link rel="icon" href="../img/icons/favicon.ico" type="image/x-icon"/>
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="../css/style.css"/>
</head>
<body>
  <header>
    <nav class="navbar navbar-light bg-app big-nav">
      <a class="navbar-brand lite">
        <img src="../img/icons/identificacion-de-visitante.png" width="30" height="30" class="d-inline-block align-top" alt=""/> Visitor
      </a>
      <form class="form-inline">
        <button type="button" class="btn btn-outline-lite my-2 my-sm-0" id="btn-logout-admin">Cerrar sesión</button>
      </form>
    </nav>
  </header>
  <main>
    <aside class="container big-nav">
      <table class="table table-hover table-bordered">
        <thead class="ligth">
          <tr>
            <th scope="col">Visitante</th>
            <th scope="col">Fecha - Hora</th>
          </tr>
        </thead>
        <tbody id="content-table-visitors">
        </tbody>
      </table>
    </aside>
  </main>
  <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
  <script src="../firebase/firebase.js"></script>
  <script src="../js/wall-admin.js"></script>
</body>
</html>
